h1, h2, h3, h4{
  text-align: center;
  color: black;
}
h1{
  font-size: 30px;
}
h2,h4{
  font-size: 22pt;
}
#images{
  
  margin: 10px auto;
  width: 630px;
  text-align: center;
}
label, input{
  border-radius: 4px;
  padding: 10px;
}
label{
  color: black;
  font-size: larger;
}
#images a{
  text-align: center;
  border-radius: 4px;
  transition: 0.3s;
  
}
body{
  background-color: rgb(170, 206, 238);
  display: flex;
}

#images img{
  border-radius: 4px; 
  padding: 4px;
  width: 150px;
  height: 150px;
}

#images a:hover{
  transform: scale(1.1);
}

#backdrop{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  overflow-y: hidden; 
  overflow-x: hidden;  
  z-index: 0;     
}

#modal{
  display: flex;
  position: relative;
  min-width: 830px;
  min-height: 200px; 
  max-width: 90%;  
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;  
  z-index: 1;
  
}

#modal img{
  display: block;
  max-width: 100%;
  min-height: 200px;
  border-radius: 10px;
  padding: 4px;
}
#modal span{
  font-size: 0.8em;
  font-weight: bold;
  min-width: 150px;
  color:#383838;
  
}
.modalBtn{
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

#input{
  font-size: 25px;
}
#help{
  margin: auto;
  
}
#help_written{
  display: none;
  width: 600px;
  margin: auto;
  border-radius: 20px;
  border: 3px;
}
p{
  font-size: 25px;
}

label{
  display: block;
  margin: 3px auto;
  text-align: center;
}


#header, #header2{
  position: relative;
  margin: 1px auto;
  display: table;
}

#filter{
  display: none;
}


ul button, #check
{
   width: 100px;
   border:1px solid black;
   font-size: 20px;
   border-radius: 5px;
   padding: 5px;
   margin: 10px;
}
#exercise, #result, #result2{
  text-align: center;
  width: 150px;
  font-size: x-large;
}
#result2{
  display: block;
  align-self: center;
}

#solved{
  margin: auto;
  display: flex;
}


@media (min-width: 1000px){
  #modal{
    min-width: 820px;
  }
  #body{
    min-width: 900px;
  }
  #images img{
    width: 200px;
    height: 200px;
  }
  #exercise, #result, #result2{
    text-align: center;
    width: 200px;
    font-size: x-large;
  }
  #help_written{
    width: 700px;
  }
  #input{
    font-size: 28px;
  }
}
@media (min-width: 1200px){
  #modal{
    min-width: 100px;
  }
  #body{
    min-width: 1100px;
  }
  #images img{
    width: 250px;
    height: 250px;
  }
  #exercise, #result, #result2{
    text-align: center;
    width: 250px;
    font-size: x-large;
  }
  #input{
    font-size: 30px;
  }
  #images{
  
    margin: 10px auto;
    width: 1030px;
    text-align: center;
  }
  #help_written{
    width: 900px;
  }
}
@media (min-width: 1500px){
  #modal{
    min-width: 1320px;
  }
  #body{
    min-width: 1400px;
  }
  #images img{
    width: 300px;
    height: 300px;
  }
  #exercise, #result, #result2{
    text-align: center;
    width: 350px;
    font-size: x-large;
  }
  #input{
    font-size: 25px;
  }
  #images{
  
    margin: 10px auto;
    width: 1230px;
    text-align: center;
  }
  #help_written{
    width: 1300px;
  }
}
#wrapper{
  margin: auto;
}